@import '../../../../assets/styles/palette.scss';

.chat {
  display: flex;
  align-items: center;
  gap: 12px;

  width: 100%;
  background-color: $items;
  border-bottom: 1px solid $content;

  padding: 15px 40px;
}