<div class="calendar">
  <div id="header">
    <h6>{{month}}, {{firstDay.year}}</h6>
    <div id="actions">
      <button type="button" (click)="prevMonth()">
        <ng-icon name="heroChevronLeftMini" size="32"></ng-icon>
      </button>
      <button type="button" (click)="nextMonth()">
        <ng-icon name="heroChevronRightMini" size="32" ></ng-icon>
      </button>
    </div>
  </div>
  <div id="weeks">
    <div id="weekdays">
      @for (weekday of weekdays; track $index) {
        <ul id="weekday">
          {{weekday}}
          @for (day of days; track $index) {
            @if (day.weekday === (weekdays.indexOf(weekday)+1)) {
              <li id="day"
                [ngClass]="{
                  'inactive-day': day.month !== firstDay.month,
                  'active-day': day.month === firstDay.month
                }"
              >
                {{day.day}}
              </li>
            }
          }
        </ul>
      }
    </div>
  </div>
</div>