<div class="content">
  <div class="recent">
    <h6>Recent</h6>
    <scroller axis="horizontal">
      <project-card />
      <project-card />
      <project-card />
      <project-card />
      <project-card />
      <project-card />
      <project-card />
      <project-card />
      <project-card />
    </scroller>
  </div>

  <div class="friends">
    <h6>Online</h6>
    <scroller axis="vertical">
      <user />
      <user />
      <user />
      <user />
      <user />
      <user />
      <user />
    </scroller>
  </div>

  <div class="week">
    <h6>To this Week</h6>
    <scroller axis="vertical">
      <task-card />
      <task-card />
      <task-card />
      <task-card />
      <task-card />
      <task-card />
      <task-card />
      <task-card />
      <task-card />
    </scroller>
  </div>
</div>
