@import "../../../../assets/styles/palette.scss";

.progress {
  display: flex;
  align-items: center;
  gap: 10px;
  
  font-weight: 600;

  p {
    font-size: 14px;
  }
  
  .status {
    border-radius: 99999px;

    width: 12px; height: 12px;

    background-color: $blue;
  }
}