<div class="content">
  <create-btn>Create new project</create-btn>
  <search/>
  <table id="projects">
    <thead>
      <tr>
        <th>Project</th>
        <th>Owner</th>
        <th>Progress</th>
        <th>Started at</th>
        <th>Members</th>
      </tr>
    </thead>
    <tbody>
      @for (row of rows; track row) {
        <tr (click)="openProject()">
          <td>Title</td>
          <td><avatar size="small"/></td>
          <td><progress-label/></td>
          <td>00d:h:min</td>
          <td><team/></td>
        </tr>
      }
    </tbody>
  </table>
  <footer id="paginator">
    <ng-icon name="heroChevronDoubleLeftMini" size="20"/>
    <button id="pag-btn">1</button>
    <button id="pag-btn">2</button>
    <button id="pag-btn">3</button>
    <button id="pag-btn">4</button>
    <button id="pag-btn">5</button>
    <ng-icon name="heroChevronDoubleRightMini" size="20"/>
  </footer>
</div>