<div class="content">
  <div class="recent">
    <h6>Recent</h6>
    <scroller axis="horizontal">
      @for (project of projects; track $index) {
        <project-card />
      }
    </scroller>
  </div>

  <div class="friends">
    <h6>Online</h6>
    <div id="scroller">
      @for (project of projects; track $index) {
        <user/>
      }
    </div>
  </div>

  <div class="week">
    <h6>To this Week</h6>
    <div id="scroller">
      @for (project of projects; track $index) {
        <task-card/>
      }
    </div>
  </div>
</div>
