@import '../../../assets/styles/palette.scss';

:host {
  border-radius: 99999px;
  
  overflow: hidden;

  .avtr-small {
    background-color: $gray;
    height: 28px; width: 28px;
  }
  
  .avtr-medium {
    background-color: $gray;
    height: 52px; width: 52px;
  }
  
  .avtr-large {
    background-color: $gray;
    height: 72px; width: 72px;
  }
}
