<div class="overview">
  <div id="resume">
    <div>
      <h6>Project name</h6>
      <p>description</p>
    </div>
    <div id="owner">
      <h6>Owner</h6>
      <user/>
    </div>
  </div>
  <div id="infos">
    <div id="date">
      Due date
      <date-label/>
    </div>
    <div id="tasks">
      <circular-progress-bar/>
      <div>
        <h6>Tasks done</h6>
        00 out of 00
      </div>
    </div>
    <select name="stage" id="stage">
      <option value="PENDING">PENDING</option>
      <option value="DEVELOPMENT">DEVELOPMENT</option>
      <option value="PAUSED">PAUSED</option>
      <option value="DONE">DONE</option>
    </select>
  </div>
</div>