@import '../../../../assets/styles/palette.scss';

.message-card {
  display: flex;
  align-items: center;
  justify-content: space-between;
  
  padding: 12px;

  width: 420px;

  border-bottom: 1px solid $gray;


  #user {
    display: flex;
    align-items: center;
    gap: 12px;
  }
}