<div class="content">
  <create-btn>Create new project</create-btn>
  <search/>
  <div id="projects">
    <div id="head">
      <div class="head-cell">Project</div>
      <div class="head-cell">Owner</div>
      <div class="head-cell">Stage</div>
      <div class="head-cell">Started at</div>
      <div class="head-cell">Members</div>
    </div >
    <div id='body'>
      @for (row of rows; track row) {
        <div id="project" (click)="openProject()">
          <h6>Title</h6>
          <user/>
          <badge content="Pending"/>
          <span>00d:h:min</span>
          <team/>
        </div>
      }
    </div>
  </div>
</div>