@import '../../../assets/styles/palette.scss';

.project-card {
  display: grid;
  grid-auto-flow: row;
  gap: 65px;

  padding: 16px 10px 12px 10px;

  width: fit-content; height: fit-content;

  border-radius: 12px;

  background-color: $items;

  .header {
    display: grid;
    grid-auto-flow: row;
    gap: 10px;
  }

  .infos {
    display: grid;
    grid-template: "progress team"
                   "date date";
    gap: 10px;
    align-items: center;

    #progress { grid-area: progress; }
    #team { grid-area: team; margin-left: 20px; }
    #date { grid-area: date; }
  }
}