// Palette
$backgroud-clr: #0B0A0F;
$content: #0F0E14;
$items: #1D1B27;
$white: #FFFFFF;
$blue: #0167FF;
$black: #000000;
$transparent: #FF000000;
$red: #BA0000;
$lightRed: #E94A2F;
$gray: #474358;
$green: #27B72F;