@import '../../../../assets/styles/palette.scss';

.task-card {
  display: grid;
  grid-auto-flow: column;
  gap: 10px;

  overflow: hidden;

  border-radius: 6px;

  width: fit-content;

  background-color: $items;

  .indicator {
    background-color: $gray;
    width: 6px;
  }

  #content {
    display: grid;
    grid-auto-flow: column;
    gap: 160px;

    padding: 12px 12px 18px 0px;
    
    #infos {
      display: grid;
      grid-auto-flow: row;
      gap: 12px;    
    }
  }
}